* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utily */

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.d-column {
    flex-direction: column;
}

.purple {
    background-color: #9792E4;
}

.white {
    background-color: white;
}

.margin-50 {
    margin-bottom: 50px;
}

.margin-30 {
    margin-bottom: 30px;
}

.padding-50 {
    padding: 50px 0 50px;
}

/* general */


.container {
    max-width: 700px;
    width: 85%;

}




/* header */

header {
    background-color: #0084FD;
    height: 80px;
    width: 100%;
    position: fixed;
}


#logo {
    height: 50px;
    min-width: 110px;
    background-color: white;
    margin-right: 80px;
}

#navbar {
    width: 420px;
    list-style: none;
    justify-content: space-between;
    line-height: 80px;
    display: none
}

.fa-bars {
    color: white;
    align-self: center;
}


/* main */

main {
    padding-top: 150px;
}


/* 1st section */




.paragraph-demo {
    width: 100%;
    min-height: 400px;
    background-color: #B5DDFF;
    border-radius: 20px 20px 0 0;
    padding: 20px;
}

.iphone {
    min-height: 400px;
    width: 100%;
    background-color: blue;
    border-radius: 0 0 20px 20px;
    margin-bottom: 30px;
}


.paragraph {
    width: 100%;
    min-height: 400px;
    background-color: #B5DDFF;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 20px;
}


/* 2nd section */

.strategic-img {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.app-img {
    width: 200px;
    height: 200px;
    background-color: blue;
}

/* 3rd section */

.testimonial {
    text-align: center;
}

.card {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
}

.profile-img {
    height: 150px;
    width: 150px;
    background-color: blue;
}

/* 5th section */










@media screen and (min-width: 992px) {

    /* header */

    .container #navbar {
        display: flex
    }

    .container .fa-bars {
        display: none;
    }

    /* 1st section */

    .demo {
        display: flex;
    }

    .paragraph-demo {
        border-radius: 20px 0 0 20px;
        margin-bottom: 30px;
    }

    .iphone {
        border-radius: 0 20px 20px 0;
    }

    /* 2nd section */

    .strategic .col {
        display: flex;
        width: 50%;
    }

    /* 4th section */

    .benefits .card {
        max-width: calc(100% / 3 - 20px);
    }


}


@media screen and (min-width: 769px) {

    /* 1st section */

    .row {
        display: flex;
        justify-content: space-between;
    }



    .demo {
        width: calc(100% / 3 * 2 - 10px)
    }

    .row .paragraph {
        min-width: calc(100% / 3 - 20px);

    }

    .paragraph {
        width: calc(100% / 3 - 20px);
    }

    /* 3rd section */

    .card {
        flex-direction: row;
        text-align: justify;
    }

    /* 4th section */

    .benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits .card {
        width: calc(100% / 2 - 20px);
    }
}