* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans';
}

/* utily */

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.d-column {
    flex-direction: column;
}

.purple {
    background-color: #9792E4;
}

.white {
    background-color: white;
}

.margin-50 {
    margin-bottom: 50px;
}

.margin-30 {
    margin-bottom: 30px;
}

.margin-15 {
    margin-bottom: 15px;
}

.padding-50 {
    padding: 50px 0 50px;
}

/* general */


.container {
    max-width: 900px;
    width: 85%;

}




/* header */

header {
    background-color: #0084FD;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
}


#navbar {
    width: 420px;
    list-style: none;
    justify-content: space-between;
    line-height: 80px;
    display: none
}

.fa-bars {
    color: white;
    align-self: center;
}

a {
    color: white;
    text-decoration: none;
}


#get-started {
    padding: 10px 15px;
    background-color: white;
    color: black;
    border-radius: 20px;
}

/* main */

main {
    padding-top: 150px;
}


/* 1st section */




.paragraph-demo {
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 20px 20px 0 0;
    padding: 20px;
}

.paragraph-demo h2 {
    color: #0084FD;
}

.paragraph-demo p {
    line-height: 25px;
    margin-bottom: 50px;
}

#app-store {
    padding: 10px 60px;
    border-radius: 20px;
    background-color: #0084FD;
    font-weight: 600;
    font-size: 18px;
}

.fa-apple {
    margin-right: 10px;

}

.iphone {
    background-color: #B5DDFF;
    border-radius: 0 0 20px 20px;
    margin-bottom: 30px;
    padding: 20px 30px 0;
}

.iphone img {
    width: 100%;

}


.paragraph {
    width: 100%;
    background-color: #B5DDFF;
    margin-bottom: 30px;
    border-radius: 20px;
    padding: 35px 20px;
    text-align: center;

}

.paragraph .fa-solid {
    font-size: 140px;
    color: #0084FD;
    margin-bottom: 25px;
}

.paragraph h2 {
    color: #0084FD;
    margin-bottom: 25px;
}

.paragraph p {
    line-height: 25px;
}

/* 2nd section */

.strategic {
    line-height: 25px;
}

.strategic-planet {
    color: white;
}


.strategic img {
    width: 100%;
}

.app-img {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.app-developement {
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    text-align: center;
}

.fa-arrow-down {
    padding: 20px;
    background-color: #9792E4;
    border-radius: 50%;
}


/* 3rd section */

.testimonial {
    text-align: center;
}

.card {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
}

.profile-img {
    height: 150px;
    width: 150px;
    background-color: blue;
}

/* 5th section */










@media screen and (min-width: 992px) {

    /* header */

    .container #navbar {
        display: flex
    }

    .container .fa-bars {
        display: none;
    }

    /* 1st section */

    .demo {
        display: flex;
    }

    .paragraph-demo {
        border-radius: 20px 0 0 20px;
        margin-bottom: 30px;
        min-width: calc(100% / 2);
    }

    .iphone {
        border-radius: 0 20px 20px 0;
        padding: 20px 0;
        min-width: calc(100% / 2);
        position: relative;
    }

    .iphone img {
        position: absolute;
        bottom: 0;

    }


    /* 2nd section */



    .strategic .container {
        display: flex;
        justify-content: space-between;
        max-width: 50%;

    }

    .strategic .col {
        max-width: 47%;
    }

    .strategic-planet {
        margin-bottom: 0;

    }

    .app-developement {
        align-self: flex-end;
    }

    .strategic-planet img {
        margin-bottom: 100px;
    }

    .app-developement img {
        max-width: 80%;
    }


    /* 4th section */

    .benefits .card {
        max-width: calc(100% / 3 - 20px);
    }

    .app-developement {}


}


@media screen and (min-width: 769px) {

    /* 1st section */

    .row {
        display: flex;
        justify-content: space-between;
    }



    .demo {
        width: calc(100% / 3 * 2 - 10px)
    }

    .paragraph-demo {}

    .iphone img {
        width: 250px;
    }

    .row .paragraph {
        min-width: calc(100% / 3 - 20px);

    }

    .paragraph {
        width: calc(100% / 3 - 20px);
    }

    /* 3rd section */

    .card {
        flex-direction: row;
        text-align: justify;
    }

    /* 4th section */

    .benefits {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits .card {
        width: calc(100% / 2 - 20px);
    }
}